* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.title {
  margin: 10px 0px;
}

select#functionType {
  padding: 2px;
}

.objectiveFunction {
  display: flex;
  gap: 5px;
}

.objectiveFunctionMembers {
  display: flex;
  gap: 5px;
  align-items: center;
}

.objectiveFunctionMember {
  display: flex;
  flex-direction: column;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 35px;
  height: 35px;
}